/* Common style start */

*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

.btn-primary{
    padding: 15px;
    background-color: #F15B22;
    font-size: 20px;
    border: none;
    color: #FFFFFF;
    border-radius: 5px;
}

.tik{
    color: greenyellow;
    font-size: 19px;
    font-weight: 800;
}


.title{
    margin-top: 30px;
    font-size: 30px;
    padding: 20px 20px 20px 0;
}

.description{
    margin: 10px 0;
    color: #444343;
}

.list-container{
    list-style: none;
}

/* Common style end */


/* header start */
.header{
    background-image: url(./image/banner1.png);
    width: 100vw;
    height: 700px;
    background-repeat: no-repeat;
    background-size: 100vw 95vh;
    /* position: relative; */
}

.header-info{
    height: 400px;
    width: 500px;
    text-align: right;
    position: absolute;
    left: 750px;
    top: 180px;
}

.header-title{
    font-size: 50px;
    margin-bottom: 20px;
}

.header-description{
    color: #444343;
    margin-bottom: 20px;
}
/* header end */

/* ------------main section start--------------- */

.main{
    margin: 10px 200px;
}

/* achivement start */

.achivement{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.achivement-img{
    width: 500px;
}
/* achivement start */


/* failure start */
.failure{
    display: flex;
    gap: 70px;
    margin-bottom: 30px;
}

.fail-img{
    width: 400px;
}

.failure-info .title{
    margin: 130px 20px 10px 0;
    padding: 20px 180px 20px 0;
}

.failure-info .description{
    padding: 0 20px 0 0;
}

.fail{
    list-style: none;
}
/* failure start */


/* plan start */

.plan-header{
    margin-top: 70px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;
}
.plans{
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

.plan{
    text-align: center;
}

.plan-pic{
    width: 70px;
}
.plan-title{
    font-size: 18px;
}
.plan-desc{
    color: #737272;
    font-weight: 500;
}
/* plan end */




/* ------------main section end--------------- */